<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Entidad 1</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 50%;
            margin: 0 auto;
        }
        h1, h2 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        input[type="text"], select {
            width: 100%;
            padding: 5px;
            margin-left: 10px;
        }
        .buttons {
            display: flex;
            justify-content: center;
        }
        .buttons button {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Entidad 1</h1>
        <h2>Crear</h2>
        <form action="/admin/entidad1/crear" method="post">
            <label for="input1">Label 1:
                <input type="text" id="input1" name="input1">
            </label>
            <label for="select1">Label 2:
                <select id="select1" name="select1">
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                </select>
            </label>
            <label for="checkbox1">Label 3:
                <input type="checkbox" id="checkbox1" name="checkbox1">
            </label>
            <label>Label N:
                <input type="radio" id="radio1" name="radioGroup" value="radio1"> Radio Button 1
                <input type="radio" id="radio2" name="radioGroup" value="radio2"> Radio Button 2
            </label>
            <div class="buttons">
                <button type="submit">Crear</button>
            </div>
        </form>
        <div style="text-align: center; margin-top: 20px;">
            <a href="/entidad1">Volver</a>
        </div>
    </div>
</body>
</html>