<nav>
    <div class="main-content"></div>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/Integrantes">Integrantes</a></li>
            {{#unless ocultarLinkInfoCurso}}
                <li><a href="/InfoCurso">Información del Curso</a></li>
            {{/unless}}

            {{#unless ocultarLinkWordCloud}}
                <li><a href="/WordCloud">Word Cloud</a></li>
            {{/unless}}    
        </ul>
</nav>
