<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Administrador</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff; /* Azul claro */
        color: #333; /* Color de texto principal */
        margin: 0;
        padding: 0;
        position: relative;
    }

    h2 {
        color: #007bff; /* Azul primario */
        text-align: center;
    }

    #tabla-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex; /* Esto establece el contenedor como un flex container */
        justify-content: center; /* Centra los elementos horizontalmente */
        margin-top: 20px;
    }

    #tabla-list li {
        background-color: #ffffff; /* Blanco */
        border: 2px solid #007bff; /* Borde azul */
        border-radius: 5px; /* Bordes redondeados */
        padding: 20px;
        margin: 0 10px; /* Espacio horizontal entre elementos */
        transition: all 0.3s ease; /* Efecto de transición suave */
    }

    #tabla-list li:hover {
        transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
        box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3); /* Sombra suave */
    }
    #home-link {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #007bff; /* Azul primario */
        color: #fff; /* Color de texto blanco */
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.3); /* Sombra azul */
        transition: background-color 0.3s ease;
    }

    #home-link:hover {
        background-color: #0056b3; 
    }
</style>
</head>
<body>
<h2>TABLAS</h2>
    <a href="/" id="home-link">Volver al Home</a>
    <ul id="tabla-list">
        <li><a href="/entidad1">ENTIDAD 1</a></li>
        <li><a href="/entidad2">ENTIDAD 2</a></li>
        <li><a href="/entidad3">ENTIDAD 3</a></li>
    </ul>

</body>
</html>
