<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entidad 2 - Listado</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: 0 auto;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .new-button {
            margin-top: 20px;
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        .new-button:hover {
            background-color: #0056b3;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <header>
            <h1>Entidad 1</h1>
            <a href="/menu">Admin</a>
        </header>
        <h2>Listado</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Columna 1</th>
                    <th>Columna 2</th>
                    <th>Columna N</th>
                </tr>

        <a href="#" class="new-button">Crear Nuevo</a>
    </div>
</body>
</html>
